.reservation {
  color: #000000;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0px auto 80px;
}

.reservation__form {
  max-width: 385px;
  padding: 0;
  margin: 0;
  margin-bottom: 120px;
}

.form {
  max-width: 385px;
}
.form__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.form__input {
  height: 60px;
  margin: 0 0 32px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  border-color: #838383;
}

.form__input::placeholder {
  color: #838383;
}

.form__label {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
}

.form__button_type_submit {
  height: 60px;
  max-width: 385px;
  width: 100%;
  padding: 0 100px;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;
  border-radius: 4px;
}

.form__button_type_submit:hover {
  opacity: 70%;
}

.form__fieldset_el_center {
  display: flex;
  justify-content: center;
}

.form__label_direction_right {
  margin-left: 12px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.form__checkbox:checked {
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}
